html {
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;
   
    text-align: left;
    margin: 0;
    padding: 0;
    overflow: auto;
    max-width: 100%;
    overflow-x: hidden;
}
:focus {
    outline: none;
}

:hover {
    outline: none;
}
a:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul{
    list-style: none;
    -webkit-padding-start: 0;
}
li {
    list-style: none;
    -webkit-padding-start: 0;
}

.header {
    padding:10px 30px;
    background-color: antiquewhite;
}

.app .modal .modal-area {
    background-color: white;
}
.header li {
    padding: 0 10px;
}
.header-sub {
    justify-content: space-between;
}
.header-sub-category {

}
.header-search {
    width : 550px;
}
.header-logo {
    margin: 0px 30px;
}
.push {
    margin-left: auto;
}
.sidebar {
    padding: 20px 0px 100px 20px;
    height: 100%;
    background-color: aliceblue;
}
.abc {
    /* background-color: aqua; */
    margin:0;
}
.user-container {
    display: flex;
    align-content: space-between;
    flex-wrap:wrap;
    /* background-color : #7f7f7f; */
    /* justify-items: space-between; */
}
.user-card {
	position: relative;
	background-color: #fff;
	border-radius: 2px;
	text-align: center;
    padding: 25px 0px;
    margin: 10px 20px 20px 0;
	width: 200px;
	box-shadow: 0 2px 4px 0 rgba(156, 156, 156, 0.5);
}