html {
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;
   
    text-align: left;
    margin: 0;
    padding: 0;
    overflow: auto;
    max-width: 100%;
    overflow-x: hidden;
}
:focus {
    outline: none;
}

:hover {
    outline: none;
}
a:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
ul{
    list-style: none;
    -webkit-padding-start: 0;
}
li {
    list-style: none;
    -webkit-padding-start: 0;
}
.user-img {
    height : 80px;
    width : 80px;
}
.header {
    padding:10px 30px;
    background-color:#eeff41;
}
.sub-header {
    height: 20px;
    background-color: #b8cc00;
}

.app .modal .modal-area {
    background-color: white;
}
.header li {
    padding: 0 10px;
}
.header-sub {
    justify-content: space-between;
}
.header-sub-category {

}
.header-search {
    width : 550px;
    margin-left: 80px;
    border-radius : 6px;
    border-color: #b8cc00;
    border: none;
    background: rgba(244,244,244,0.6);
    border: none;
    font-size: 14px;
    color: #909090;
    border-right: none;
    height: 30px;
    padding: 0 10px 0 32px;
    outline: none;
    text-overflow: ellipsis;
    border-radius: 2px 0px 0px 2px;
    font-family: "font-regular";
}
.header-search-button {
    height: 30px;
    width: 80px;
    top: 0 ;
    left:550px;
    background-color:#b8cc00;
    text-align: center;
    color : #000;
    line-height: 25px;
    font-size: 14px;
    border-radius: 0 3px 3px 0  ;
    border: none;
    cursor: pointer;
}
.header-logo {
    /* margin: 0px 30px; */
    font-size: 25px;
    line-height: 30px;
    font-style: italic;
    font-family: serif;
}
.push {
    margin-left: auto;
}
.push p {
    margin-right: 20px;
    color: #333;
    line-height: 25px;
    font-size: 14px;
    cursor: pointer;
}
.sidebar {
    padding: 20px 0px 100px 20px;
    height: 100%;
    background-color:#ffff78;
}
.sidebar p {
    font-size: 14px;
}
.abc {
    margin:0;
}
.user-container {
    display: flex;
    align-content: space-between;
    flex-wrap:wrap;
    /* background-color: #E0E1E0; */
}
.user-card {
	position: relative;
	background-color: #fff;
	border-radius: 2px;
	text-align: center;
    padding: 25px 0px;
    margin: 10px 20px 20px 0;
	width: 200px;
	box-shadow: 0 2px 4px 0 rgba(156, 156, 156, 0.5);
}
.header-dropdown {
    width: 120px;
    border: none;
    border-left:none;
    border-top: 1px;
    justify-content: center;
    margin-left: 80px;
    border-radius : 6px;
    border-color: #b8cc00;
    border: none;
    background: rgba(244,244,244,0.6);
    margin-left:160px; 
    font-size: 14px;
    color: #909090;
    border-right: none;
    height: 30px;
    padding: 0 5px 0 15px;
    outline: none;
    text-overflow: ellipsis;
    border-radius: 2px 0px 0px 2px;
    font-family: "font-regular";
}
.sortButton {
    border: none;
    background-color: #b8cc00;
    float:right;
    padding: 5px 30px;
    border-radius: 0 0 4px 4px;
    font-size: 14px;
}